body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  height: 25px;
  width: 86px;
}

.direction {
  font-size: 90%;
}

.card-text, .lead {
  line-height: 25px;
}

.card-body {
  margin-bottom: 0;
  padding-bottom: 5%;
}
